html
    head
    body
        .container.text-center
            img.img-fluid(src='/images/assets/images/forbidden.jpg')
            h1 Access From Otuchat First
            a(href="http://otuchat.com")
                h2 otuchat.com