extends layoutheader

block content
 div(class="content")
    h3 On Scroll Sticky Header
    p The header will stick to the top when you reach its scroll position.
    p Scroll back up to remove the sticky effect.
    p Scroll back up to remove the sticky effect.
    p Scroll back up to remove the sticky effect.
    p Scroll back up to remove the sticky effect.
    p Scroll back up to remove the sticky effect.
    p Scroll back up to remove the sticky effect.
    p Scroll back up to remove the sticky effect.
    p Scroll back up to remove the sticky effect.
    p Scroll back up to remove the sticky effect.
    p Scroll back up to remove the sticky effect.
    p Scroll back up to remove the sticky effect.
    p Scroll back up to remove the sticky effect.
    p Scroll back up to remove the sticky effect.
    p Scroll back up to remove the sticky effect.
    p Scroll back up to remove the sticky effect.
    p Scroll back up to remove the sticky effect.
    p Scroll back up to remove the sticky effect.
  
 div(class="footer")
  This footer will always be positioned at the bottom of the page, but <strong>not fixed</strong>.