extends header

block footer
	div(id="footer")
		footer(class="bg-soft-blue color-deep-orange")
			div(class="container")
				div(class="col-lg-1")
					a(href="https://eklankumax.com/" class="logo")
						img(src="https://eklankumax.com/assets/imgMAX/logo/logo.png" alt="Logo" width="" height="40")
				div(class="col-lg-7")
					p Copyright &copy; 2015-2018 All rights reserved
				div(class="col-lg-4")
					div(class="sub-menu")
						p 
							a(data-toggle="modal" href="#mdSK") Syarat & Ketentuan &nbsp;|&nbsp;
							a(data-toggle="modal" href="#mdKP") Kebijakan Privasi