doctype html
html(lang='en')
    head
        // Required meta tags
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        title OtuChat
        // Bootstrap CSS
        link(href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet', type='text/css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
        link(rel='stylesheet', type='text/css', src='css/bootstrap.min.css')
        // Custom styles for this template
        link(href='/images/assets/css/style.css', rel='stylesheet', type='text/css')
        link(href='/images/assets/css/responsive.css', rel='stylesheet', type='text/css')
    body
        // -----------------------------header starts--------------------------
        header
            .topbar
                .container-fluid
                    .row
                        .col-lg-12
                            //- .topbar.commonclass
                            //-     nav.navbar.navbar-expand-lg.navbar-light.bg-light
                            //-         a.navbar-brand(href='index.html')
                            //-             img.img-responsive(src='/images/assets/images/logo.png')
                            //-         #navbarSupportedContent.navbar-collapse
                            //-             ul.navbar-nav.flex-md-row.mr-auto
                            //-                 li.nav-item
                            //-                     a.nav-link(href='javascript:;')
                            //-                         img.img-responsive(src='/images/assets/images/comment.png', alt='comment')
                            //-                 li.nav-item.last-item
                            //-                     a.nav-link(href='javascript:;')
                            //-                         img.img-responsive(src='/images/assets/images/Main-Payment_Payment-Home1_03.png', alt='Main-Payment_Payment-Home1_03')
                            //-             ul.nav.topbar-rightnav.justify-content-end
                            //-                 li.nav-item
                            //-                     a.nav-link(href='javascript:;') Rp 1.000.000
                            //-                 li.nav-item
                            //-                     a.nav-link(href='javascript:;')
                            //-                         i.fa.fa-plus(aria-hidden='true')
        // -----------------------------------header ends----------------------------
        // -----------------------------------banner section starts-----------------
        section.banner.commonclass
            .banner-img.commonclass
                img.img-fluid(src='/images/assets/images/banner.jpg', alt='banner-img')
        // -----------------------------------banner section ends-------------------
        // -----------------------------------section2 payment modes----------------
        section.payment-modes.commonclass
            .container-fluid
                .row
                    .col-lg-12.d-flex
                        .col-lg-4
                            .grid-box
                                h4 Isi Ulang
                                p Makin banyak transaksi, makin banyak untungnya!
                                .pay-lists.commonclass
                                    ul.nav.d-flex.flex-wrap
                                        li.nav-item
                                            a.nav-link.d-flex.flex-column(href='javascript:;')
                                                img.img-responsive(src='/images/assets/images/Main-Payment_Payment-Home1_26.png', alt='Main-Payment_Payment-Home1_26')
                                                label.text-uppercase pulsa
                                        li.nav-item
                                            a.nav-link.d-flex.flex-column(href='javascript:;')
                                                img.img-responsive(src='/images/assets/images/Main-Payment_Payment-Home1_18.png', alt='Main-Payment_Payment-Home1_26')
                                                label.text-uppercase paket data
                                        li.nav-item
                                            a.nav-link.d-flex.flex-column(href='javascript:;')
                                                img.img-responsive(src='/images/assets/images/Main-Payment_Payment-Home1_20.png', alt='Main-Payment_Payment-Home1_20')
                                                label.text-uppercase pln
                                        li.nav-item
                                            a.nav-link.d-flex.flex-column(href='javascript:;')
                                                img.img-responsive(src='/images/assets/images/Main-Payment_Payment-Home1_32.png', alt='Main-Payment_Payment-Home1_32')
                                                label.text-uppercase pln
                                        li.nav-item
                                            a.nav-link.d-flex.flex-column(href='javascript:;')
                                                img.img-responsive(src='/images/assets/images/Main-Payment_Payment-Home1_37.png', alt='Main-Payment_Payment-Home1_37')
                                                label.text-uppercase voucher game
                                        li.nav-item
                                            a.nav-link.d-flex.flex-column(href='javascript:;')
                                                img.img-responsive(src='/images/assets/images/Main-Payment_Payment-Home1_58.png', alt='Main-Payment_Payment-Home1_58')
                                                label.text-uppercase sms
                                        li.nav-item
                                            a.nav-link.d-flex.flex-column(href='javascript:;')
                                                img.img-responsive(src='/images/assets/images/Main-Payment_Payment-Home1_60.png', alt='Main-Payment_Payment-Home1_60')
                                                label.text-uppercase telepon
                                        li.nav-item
                                            a.nav-link.d-flex.flex-column(href='javascript:;')
                                                img.img-responsive(src='/images/assets/images/Main-Payment_Payment-Home1_69.png', alt='Main-Payment_Payment-Home1_69')
                                                label.text-uppercase e-saldo
                                        li.nav-item
                                            a.nav-link.d-flex.flex-column(href='javascript:;')
                                                img.img-responsive(src='/images/assets/images/Main-Payment_Payment-Home1_63.png', alt='Main-Payment_Payment-Home1_63')
                                                label.text-uppercase
                                                    | donasi 
                                                    br
                                                    |  yaysan cinta anak
                        .col-lg-4
                            .grid-box
                                h4 Tagihan
                                p Bayar tagihan ga pake ribet!
                                .pay-lists.commonclass
                                    ul.nav.d-flex.flex-wrap
                                        li.nav-item
                                            a.nav-link.d-flex.flex-column(href='javascript:;')
                                                img.img-responsive(src='/images/assets/images/Main-Payment_Payment-Home1_39.png', alt='Main-Payment_Payment-Home1_39')
                                                label.text-uppercase bpjs
                                        li.nav-item
                                            a.nav-link.d-flex.flex-column(href='javascript:;')
                                                img.img-responsive(src='/images/assets/images/Main-Payment_Payment-Home1_29.png', alt='Main-Payment_Payment-Home1_29')
                                                label.text-uppercase pasca bayar
                                        li.nav-item
                                            a.nav-link.d-flex.flex-column(href='javascript:;')
                                                img.img-responsive(src='/images/assets/images/Main-Payment_Payment-Home1_35.png', alt='Main-Payment_Payment-Home1_35')
                                                label.text-uppercase tv kabel
                                        li.nav-item
                                            a.nav-link.d-flex.flex-column(href='javascript:;')
                                                img.img-responsive(src='/images/assets/images/Main-Payment_Payment-Home1_23.png', alt='Main-Payment_Payment-Home1_23')
                                                label.text-uppercase wifi
                                        li.nav-item
                                            a.nav-link.d-flex.flex-column(href='javascript:;')
                                                img.img-responsive(src='/images/assets/images/Main-Payment_Payment-Home1_12.png', alt='Main-Payment_Payment-Home1_12')
                                                label.text-uppercase pdam
                                        li.nav-item
                                            a.nav-link.d-flex.flex-column(href='javascript:;')
                                                img.img-responsive(src='/images/assets/images/Main-Payment_Payment-Home1_65.png', alt='Main-Payment_Payment-Home1_58')
                                                label.text-uppercase telkom
                                        li.nav-item
                                            a.nav-link.d-flex.flex-column(href='javascript:;')
                                                img.img-responsive(src='/images/assets/images/finance.png', alt='Main-Payment_Payment-Home1_60')
                                                label.text-uppercase finance
                                        li.nav-item
                                            a.nav-link.d-flex.flex-column(href='javascript:;')
                                                img.img-responsive(src='/images/assets/images/Main-Payment_Payment-Home1_55.png', alt='Main-Payment_Payment-Home1_69')
                                                label.text-uppercase pgn
                                        li.nav-item
                                            a.nav-link.d-flex.flex-column(href='javascript:;')
                                                img.img-responsive(src='/images/assets/images/Main-Payment_Payment-Home1_67.png', alt='Main-Payment_Payment-Home1_67')
                                                label.text-uppercase kartu kredit
                        .col-lg-4
                            .grid-box.border-right-0
                                h4 Lain - lain
                                p Kemudahan lainnya!
                                .pay-lists.commonclass
                                    ul.nav.d-flex.flex-wrap
                                        li.nav-item
                                            a.nav-link.d-flex.flex-column(href='javascript:;')
                                                img.img-responsive(src='/images/assets/images/Main-Payment_Payment-Home1_07.png', alt='Main-Payment_Payment-Home1_07')
                                                label.text-uppercase History
                                        li.nav-item
                                            a.nav-link.d-flex.flex-column(href='javascript:;')
                                                img.img-responsive(src='/images/assets/images/Main-Payment_Payment-Home1_15.png', alt='Main-Payment_Payment-Home1_15')
                                                label.text-uppercase History
                                        li.nav-item
                                            a.nav-link.d-flex.flex-column(href='javascript:;')
                                                img.img-responsive(src='/images/assets/images/Main-Payment_Payment-Home1_09.png', alt='Main-Payment_Payment-Home1_09')
                                                label.text-uppercase Eklanku Max
        // -----------------------------------section2 payment modes----------------
        // -----------------------------------section3 starts-----------------------
        section.form-section3.commonclass
            .container-fluid
                .row
                    .col-lg-12
                        .form-sec.commonclass
                        h4.text-capitalize beli pulsa
                        form
                            .form-group
                            label.text-capitalize.black-color nomor telepon
                            input.form-control(type='text', placeholder='Contoh: 081234567890')
                            .submit-btn.commonclass
                            button.btn.btn-default.green-btn.float-right.text-uppercase(type='submit') beli
        // -----------------------------------section3  ends-----------------------
        // Optional JavaScript
        // jQuery first, then Popper.js, then Bootstrap JS
        script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
        script(src='/images/assets/js/bootstrap.min.js')
